.bachalor-index {
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: url("../img/bach/idx-nv.png") no-repeat center;
    position: relative;
    display: none
}

.bachalor-index .close {
    font-size: 18px;
    position: absolute;
    right: 50%;
    bottom: 40%;
    margin-right: -640px;
    color: #6a6a6a
}

.bachalor-index .close:hover {
    color: #0B84D3
}

.bachalor-index .lf p {
    font-size: 16px;
    margin: 17px 0 12px;
    padding: 0
}

.bachalor-index .lf .contact li {
    float: left;
    margin-right: 35px
}

.bachalor-index .lf .contact li img {
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 5px
}

.bachalor-index .lf .contact li .nm {
    font-weight: bold;
    color: #03abea
}

.bachalor-index .rg {
    padding-top: 14px
}

.bachalor-index .rg .fl {
    margin-left: 20px
}

.bachalor-index .rg .fl .img {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin-right: 5px;
    vertical-align: bottom
}

.bachalor-index .rg .fl .text {
    font-size: 12px;
    vertical-align: bottom
}

.bachalor-index .rg .fl .text .t {
    font-size: 16px
}