.syncSearch {
    position: relative;
    z-index: 2;
    float: left;
    width: 220px;
    margin-right: 10px;
}

.syncSearch .searchVal {
    width: 100%;
    height: 35px;
    padding: 0 20px;
}

.syncSearch .filterList {
    margin-top: -1px;
    width: 264px;
    max-height: 240px;
    background-color: #13263a;
    overflow: hidden;
    overflow-y: auto;
}

.syncSearch .filterList li {
    cursor: pointer;
    padding: 0 20px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.syncSearch .filterList li:hover {
    background-color: #142d49;
}

.cdkeySelectCa {
    float: left;
    height: 70px;
    line-height: 70px;
    margin-right: 70px;
    overflow: hidden;
}

.cdkeySelectCa .cdkeySelectCn {
    float: left;
}

.cdkeySelectCa .cdkeySelectCn:hover .cdkeyList {
    display: block;
}

.cdkeySelectCa .cdkeySelectCn .cdkeySelectBtn {
    float: left;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.cdkeySelectCa .cdkeySelectCn .cdkeyList {
    display: none;
    float: left;
    position: absolute;
    width: 210px;
    margin-top: 70px;
    background: #132e4b;
}

.cdkeySelectCa .cdkeySelectCn .cdkeyList .cdkeyGroup {
    position: relative;
}

.cdkeySelectCa .cdkeySelectCn .cdkeyList .cdkeyGroup:hover .cdkeyType {
    background-color: #13375e;
}

.cdkeySelectCa .cdkeySelectCn .cdkeyList .cdkeyGroup:hover .cdkeyItems {
    display: block;
}

.cdkeySelectCa .cdkeySelectCn .cdkeyList .cdkeyGroup .cdkeyType {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 40px 0 20px;
    background: url("../img/new/more-icon.png") 190px center no-repeat;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cdkeySelectCa .cdkeySelectCn .cdkeyList .cdkeyGroup .cdkeyItems {
    display: none;
    float: left;
    position: absolute;
    top: 0;
    left: 100%;
    width: 330px;
    padding: 15px 20px 0 20px;
    box-sizing: border-box;
    background-color: #13263a;
}

.cdkeySelectCa .cdkeySelectCn .cdkeyList .cdkeyGroup .cdkeyItems .item {
    float: left;
    line-height: 1;
    margin-right: 20px;
    margin-bottom: 15px;
}

.cdkeySelectCa .cdkeySelectCn .cdkeyList .cdkeyGroup .cdkeyItems .item.active, .cdkeySelectCa .cdkeySelectCn .cdkeyList .cdkeyGroup .cdkeyItems .item:hover {
    color: #0b84d3;
}

.mod-banner .swiper-pagination {
    text-align: left;
}

.mod-banner .swiper-pagination .swiper-pagination-switch {
    width: 15px;
    height: 5px;
    background: #8A8F96;
    border-radius: 0;
    margin: 0 3px;
}

.mod-banner .swiper-pagination .swiper-pagination-switch.swiper-active-switch {
    width: 30px;
    background: #0D70B2;
}

.mod-banner .adp {
    width: 300px;
    position: absolute;
    bottom: 35px;
    right: 0;
}

.mod-banner .adp li {
    height: 115px;
    overflow: hidden;
    margin: 15px 0;
}

.mod-banner .adp li img {
    max-width: 100%;
    max-height: 100%;
}

.grp-slide-item {
    margin: 50px 0;
}

.grp-slide-item .hd {
    height: 36px;
    overflow: hidden;
    position: relative;
    background: url("../img/new/ttb010.png") no-repeat center;
}

.grp-slide-item .hd .more {
    line-height: 36px;
    color: #C9C9C9;
    top: 50%;
    right: 500px;
    transform: translate(185px, -50%);
    position: absolute;
}

.grp-slide-item .hd .more:hover {
    color: #0b84d3;
}

.grp-slide-item .hd .nv {
    margin-left: 185px;
}

.grp-slide-item .hd .nv li {
    float: left;
    margin-right: 40px;
    line-height: 36px;
    color: #C9C9C9;
    cursor: pointer;
    user-select: none;
}

.grp-slide-item .hd .nv li img {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.grp-slide-item .hd .nv li.active {
    color: #0b84d3;
}

.grp-slide-item .bd {
    padding-top: 30px;
}

.grp-slide-item .bd .ul {
    display: none;
}

.grp-slide-item .bd .ul.active {
    display: block;
}

.grp-slide-item .bd .ul .fix-ico {
    position: absolute;
}

.grp-slide-item .bd .ul .prd {
    width: 885px;
    height: 475px;
}

.grp-slide-item .bd .ul .prd ul {
    margin-left: -15px;
    margin-top: -15px;
}

.grp-slide-item .bd .ul .prd li {
    width: 210px;
    height: 230px;
    overflow: hidden;
    background: url("../img/new/lib.png") no-repeat center;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    transition: all 0.3s;
}

.grp-slide-item .bd .ul .prd li:hover {
    background: url("../img/new/libh.png") no-repeat center;
}

.grp-slide-item .bd .ul .prd li a {
    color: #fff;
}

.grp-slide-item .bd .ul .prd li .ico {
    height: 165px;
    line-height: 165px;
    overflow: hidden;
    padding: 0 10px;
}

.grp-slide-item .bd .ul .prd li .ico img {
    max-width: 80%;
    max-height: 80%;
}

.grp-slide-item .bd .ul .prd li .tit {
    margin: 2px 0 8px;
    padding: 0 30px;
}

.grp-slide-item .bd .ul .prd li .prc {
    color: #d29208;
    font-size: 0px;
    padding: 0 10px;
    height: 30px;
    line-height: 26px;
}

.grp-slide-item .bd .ul .prd li .prc sup {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;
}

.grp-slide-item .bd .ul .prd li .prc span {
    font-size: 20px;
}

.grp-slide-item .bd .ul .prd li .prc sub {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-top: -14px;
}

.grp-slide-item .bd .ul .key-shop-bok {
    width: 275px;
    height: 475px;
    margin-left: 40px;
    position: relative;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok {
    width: 100%;
    height: 95px;
    margin-bottom: 20px;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok:last-of-type {
    margin: 0px;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .hp-imgb {
    width: 80px;
    height: 92px;
    position: relative;
    margin-bottom: 8px;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .hp-imgb .hp-user-img {
    width: 59px;
    height: 59px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 14px;
    border-radius: 50%;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .brief-bok {
    width: 180px;
    margin: 10px 0px 0px 10px;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .brief-bok dt.name {
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .brief-bok dt.name a {
    color: #0b84d3;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .brief-bok dt.name a:hover {
    color: #fff;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .brief-bok dt.name a img.v-icon {
    vertical-align: 0px;
    margin-right: 5px;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .brief-bok dd.text {
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    color: #6b6b6b;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .brief-bok dd.grade {
    text-align: left;
}

.grp-slide-item .bd .ul .key-shop-bok .shop-bok .brief-bok dd.grade > img {
    width: 14px;
    height: auto;
    display: inline-block;
    margin-right: 5px;
}

.grp-slide-item .bd .ul .key-shop-bok .more {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #c9c9c9;
}

.grp-slide-item .bd .ul .key-shop-bok .more:hover {
    color: #0b84d3;
}

.grp-slide-item.slide-new .hd {
    background: url("../img/new/ttb120.png") no-repeat center;
}

.grp-slide-item.slide-buy .hd {
    background: url("../img/new/ttb3.png") no-repeat center;
}

.grp-slide-item.slide-tho .hd {
    background: url("../img/new/ttb4.png") no-repeat center;
}

.grp-slide-item.slide-shop .hd {
    background: url("../img/new/ttb5.png") no-repeat center;
}

.grp-slide-item.slide-shop .bd {
    padding-top: 30px;
}

.grp-slide-item.slide-shop .bd .ul {
    display: none;
}

.grp-slide-item.slide-shop .bd .ul.active {
    display: block;
}

.grp-slide-item.slide-shop .bd .ul .fix-ico {
    position: absolute;
}

.grp-slide-item.slide-shop .bd .ul .prd {
    width: 100%;
}

.grp-slide-item.slide-shop .bd .ul .prd ul {
    margin-left: -1.5%;
    margin-top: -17px;
}

.grp-slide-item.slide-shop .bd .ul .prd li {
    width: 286px;
    height: 373px;
    margin-left: 1.5%;
    margin-top: 17px;
    padding: 4px;
    box-sizing: border-box;
    background: url(../img/new/shop-bg.png) no-repeat;
    overflow: hidden;
}

.grp-slide-item.slide-shop .bd .ul .prd li .shopImg {
    position: relative;
    margin: 25px auto 0 auto;
    width: 142px;
    height: 167px;
    overflow: hidden;
}

.grp-slide-item.slide-shop .bd .ul .prd li .shopImg .img {
    width: 98px;
    height: 98px;
    line-height: 96px;
    text-align: center;
    font-size: 0;
    border-radius: 100%;
    margin: 26px auto 0 auto;
    overflow: hidden;
}

.grp-slide-item.slide-shop .bd .ul .prd li .shopImg .img img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.grp-slide-item.slide-shop .bd .ul .prd li .shopImg .photoFrame {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/new/photoFrame.png) no-repeat;
}

.grp-slide-item.slide-shop .bd .ul .prd li .name {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    padding: 0 20px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grp-slide-item.slide-shop .bd .ul .prd li .intro {
    color: #c9c9c9;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grp-slide-item.slide-shop .bd .ul .prd li .stat {
    margin-top: 30px;
    overflow: hidden;
}

.grp-slide-item.slide-shop .bd .ul .prd li .stat .item {
    float: left;
    width: 49.6%;
    text-align: center;
    overflow: hidden;
}

.grp-slide-item.slide-shop .bd .ul .prd li .stat .item .number {
    color: #3496ed;
    margin-top: 15px;
    font-size: 12px;
    line-height: 1;
}

.grp-slide-item.slide-shop .bd .ul .prd li .stat .item .number strong {
    font-size: 30px;
}

.grp-slide-item.slide-shop .bd .ul .prd li .stat .item .ch {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}

.grp-slide-item.slide-shop .bd .ul .prd li .stat .line {
    float: left;
    width: 1px;
    height: 40px;
    margin-top: 26px;
    background: url(../img/new/line.png) no-repeat;
}