<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <frameset rows="76,*" framespacing="0" border="0">
        <frame src="accountPage/top.html" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
        <frameset cols="180, 10, *" framespacing="0" border="0" id="frame-body">
            <frame src="accountPage/menu.html" frameborder="no" scrolling="yes">
            <frame src="accountPage/bar.html" frameborder="no" scrolling="no">
            <frame src="accountPage/main.html" name="mainCont" frameborder="no" scrolling="yes">
        </frameset>
    </frameset><noframes></noframes>
</head>
<body>
<style>
    .copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
    Collect from <a href="http://www.cssmoban.com/"  title="网站模板">模板之家</a>
    <a href="https://www.chazidian.com/"  title="查字典">查字典</a>
</div>
</body>
<script src="accountPage/js/user.js"></script>
<script src="accountPage/js/ornament.js"></script>
<script src="accountPage/js/jquery.js"></script>
</html>